

mixin edit-slider(opt)
  +scope("slider")
    .ldrs
mixin edit-tags(opt)
  +scope("tags")
    textarea.form-control.tagify(ld="panel panel-edit",rows="3")

mixin edit-image(opt)
  +scope("image")
    .w-100.rounded.bg-light(style="height:200px"): .vertical-center: .w-100.text-center
      .btn.btn-upload.btn-outline-dark 上傳圖片 #[input(type="upload")]

mixin edit-upload(opt) 
  +scope("upload")
    .btn.btn-outline-dark.mr-2 #[i.i-link]
    .btn.btn-upload.btn-outline-dark 上傳檔案 #[i.i-upload]#[input(type="upload")]

mixin edit-multiple(opt)
  +scope("multiple").edit.edit-multiple
    .d-flex.justify-content-start
    each v in opt.values
      .btn.btn-outline-secondary.mr-2(ld="choice") #{v}
mixin edit-select(opt)
  +scope("select").edit.edit-select
    select.form-control(ld="select")
      each v in opt.values
        if Array.isArray(v)
          option(value=v[1]) #{v[0]}
        else
          option(value=v) #{v}
      if opt.other
        option(value="") 其它
    if opt.other
      input.form-control.mt-1.d-none(ld="input",placeholder="請補充...")
mixin edit-text
  +scope("text").edit.edit-text
    input.form-control(type="text")
mixin edit-richtext
  +scope("richtext").edit.edit-richtext
    .d-flex.justify-content-between
      .mb-2.btn-group
        .btn.btn-outline-secondary.btn-sm.active(ld="toggle edit") 編輯 #[i.i-pen]
        .btn.btn-outline-secondary.btn-sm(ld="toggle preview") 預覽 #[i.i-eye]
      div: a(href="https://markdown.tw/",target="_blank") Markdown 語法 #[i.i-question]
    textarea.form-control(ld="panel panel-edit",rows="6",placeholder="使用 Markdown 語法... ")
    .card.d-none(ld="panel panel-preview"): .card-body

mixin edit-date
  +scope("date").edit.edit-date
    input.form-control(type="date")

mixin edit-entry(opt)
  .form-group.mb-4
    label #{opt.title}
    block
